html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #FFFEFE;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* Navbar */
ul.nav a{
   transition: .2s;
}

ul.nav a:hover {
  color: rgba(255,254,254,0.7) !important;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}





#logohome {
  font-family: Dosis, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  color:#FFFEFE;
  padding-top: 10px;

  transition: .2s;
}
#logohome:hover {
  color: rgba(255,255,255,0.8);
}

.navbar {
  border-style: none;
  border-radius: 0%;
  z-index: 1000;
  padding: 50px 0px 20px 0px;
  background-color:#FC5D30;

  box-shadow: 0  1px 15px 0px #292929;
}
.navbar-default .navbar-nav > li > a {
   color: #FFFEFE; /*Change active text color here*/
   font-size: 24px;
   font-family: Raleway, san-serif;
   text-transform: capitalize;
}

/* This changes when navbar collapses */
 @media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.glyphicon-cutlery {
  color: #FFFEFE;
}

/* navbar button */
.navbar-default .navbar-toggle {
  transition: .2s;
  border: transparent;
  box-shadow: 0px 2px 7px #292929;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  box-shadow: 0px 2px 15px #292929;
}
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle:active {
  background-color: transparent;
  box-shadow: 0px 2px 7px #292929;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

/* Carousel */
#myCarousel {
  z-index:0;
  width:auto;
  margin-top: -40px;
  box-shadow: 0 1px 15px 0px #292929;
}
.slide1{
  background-image: url('../images/greens.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../images/eggs.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../images/strawberries.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Main Text */
#main-text {
  margin-top: 80px;
  margin-bottom:80px;

}
h2 {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 80px;
}

h3.grid {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.container h4 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

h5 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.container h6 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
}

h3 {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 60px;
}

h4 {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.container p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

img.venn {
  height: 30px;
  width:auto; /* you can use % */
}

#grid-results {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 40px;
}

/* Footer */
.footer-distributed{
	background-color: #454851;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px;
  font-family: Raleway;

	padding: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  box-shadow: 0 2px 15px 0px #1F2421;
}
.footer-distributed .footer-left p{
	color:  #FFFEF9;
	font-size: 14px;
	margin: 0;
}

#tag-single {
  width:70px;
  height:auto;
}

#image-single-lg {
  border-radius: 5px;
  margin: 10px;
  width: calc(200px + 25vw);
  height:auto;
}

#image-single-sm {
  border-radius: 5px;
  width: 100%;
  height:auto;
}

#image-single {
  border-radius: 5px;
  width: 250px;

}


#ingSingleList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no {
  color: #e6e6e6;
}

#upc {
  color: #cccccc;
}

a:focus, a:hover {
  text-decoration: none;
}

.thumbnail {
  transition: .2s;
}

.thumbnail:hover {
  border-color: #949494;
}
.nav-pills li a {

}
